# 33 panels and one clock

NET "apa102_data0" LOC=P57 | IOSTANDARD = LVTTL;  
NET "apa102_data1" LOC=P58 | IOSTANDARD = LVTTL;  
NET "apa102_data2" LOC=P66 | IOSTANDARD = LVTTL;  
NET "apa102_data3" LOC=P67 | IOSTANDARD = LVTTL;  
NET "apa102_data4" LOC=P95 | IOSTANDARD = LVTTL; 
NET "apa102_data5" LOC=P93 | IOSTANDARD = LVTTL; 
NET "apa102_data6" LOC=P94 | IOSTANDARD = LVTTL; 
NET "apa102_data7" LOC=P97 | IOSTANDARD = LVTTL; 
NET "apa102_data8" LOC=P98 | IOSTANDARD = LVTTL; 
NET "apa102_data9" LOC=P99 | IOSTANDARD = LVTTL; 
NET "apa102_data10" LOC=P100 | IOSTANDARD = LVTTL; 

NET "apa102_data11" LOC=P51 | IOSTANDARD = LVTTL; 
NET "apa102_data12" LOC=P24 | IOSTANDARD = LVTTL; 
NET "apa102_data13" LOC=P21 | IOSTANDARD = LVTTL; 
NET "apa102_data14" LOC=P22 | IOSTANDARD = LVTTL; 
NET "apa102_data15" LOC=P16 | IOSTANDARD = LVTTL; 
NET "apa102_data16" LOC=P14 | IOSTANDARD = LVTTL; 
NET "apa102_data17" LOC=P12 | IOSTANDARD = LVTTL; 
NET "apa102_data18" LOC=P138 | IOSTANDARD = LVTTL; 
NET "apa102_data19" LOC=P139 | IOSTANDARD = LVTTL; 
NET "apa102_data20" LOC=P131 | IOSTANDARD = LVTTL; 

NET "apa102_data21" LOC=P126 | IOSTANDARD = LVTTL; 
NET "apa102_data22" LOC=P23 | IOSTANDARD = LVTTL; 
NET "apa102_data23" LOC=P50 | IOSTANDARD = LVTTL; 
NET "apa102_data24" LOC=P17 | IOSTANDARD = LVTTL; 
NET "apa102_data25" LOC=P144 | IOSTANDARD = LVTTL; 
NET "apa102_data26" LOC=P15 | IOSTANDARD = LVTTL; 
NET "apa102_data27" LOC=P11 | IOSTANDARD = LVTTL; 
NET "apa102_data28" LOC=P140 | IOSTANDARD = LVTTL; 
NET "apa102_data29" LOC=P137 | IOSTANDARD = LVTTL; 
NET "apa102_data30" LOC=P127 | IOSTANDARD = LVTTL; 

NET "apa102_data31" LOC=P124 | IOSTANDARD = LVTTL; 
NET "apa102_data32" LOC=P143 | IOSTANDARD = LVTTL;   //need to check this

NET "apa102_sck" LOC=P134 | IOSTANDARD = LVTTL;